

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ========================= */

div.general {
  /* text-align: left; */
  margin-top: 3em;
  margin-left: 3em;
  text-align: center;
}

.color-button {
  margin: 1em 1em;
  padding: 0 1em;
}

div.splash {
  text-align: center;
}

body {
  background-color: #CADEDF;
}

.banner {
  background-color: #16796F;
  width: 100%;
  display: inline-block;
  color: #DFE7E7;
}

div.credits {
  position: absolute;
  text-align: center;
  bottom: 0;
  margin: auto;
  background-color: #7CB7AF;
}

#pick-url {
  width: 100%;
}

.list {
  /* width: 30%; */
  text-align: left;
  display: inline-block;
}

.person {
  display: inline-block;
  padding: 0 2em 2em 2em;
}